.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
  gap: 30px;
}

.about-col1 img {
  width: 250px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(56, 189, 248, 0.5);
}

.about-col2 {
  max-width: 600px;
}

.about-col2 h1 {
  color: gainsboro;
}

#footer img {
  height: 25px;
  width: 25px;
  border-radius: 20px;
  margin-right: 10px;
  transition: transform 0.3s;
}

#footer img:hover {
  transform: scale(1.2);
}
