#education h1 {
  text-align: center;
  color: #7dd3fc;
}

.edu {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 20px;
}

.edu img {
  width: 200px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}
